<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.driver_class">org.postgresql.Driver</property>
        <property name="connection.url">jdbc:postgresql://localhost:5432/Hibernate</property>
        <property name="connection.username">postgres</property>
        <property name="connection.password">0</property>
        <property name="hibernate.hbm2ddl.auto">update</property>

        <mapping class="DB.Entities.Contact"/>
        <mapping class="DB.Entities.Phone"/>
    </session-factory>
</hibernate-configuration>