<!DOCTYPE HTML>
<html>
<head>
    <title>Rest Service</title>
</head>
<body>
<h1 align="center">Contact-Book</h1>
<div align="center">Контакты</div>
<table align="center">
    <tr>
        <th>id</th>
        <th>Name</th>
        <th>Last name</th>
        <th>E-Mail</th>
    </tr>
{{#Contacts}}
    <tr>
        <td>{{id}}</td>
        <td>{{firstName}}</td>
        <td>{{lastName}}</td>
        <td>{{email}}</td>
    </tr>
{{/Contacts}}
</table>
<br>
<table align="center">
    <tr>
        <th>id</th>
        <th>Number</th>
        <th>Operator</th>
        <th>Contact id</th>

    </tr>
    {{#Phones}}
        <tr>
            <td>{{id}}</td>
            <td>{{number}}</td>
            <td>{{operatorName}}</td>
            <td>{{contact.id}}</td>
        </tr>
    {{/Phones}}
</table>
<footer>
    <a href="/">Main</a>
    <a href="/contacts">Contacts</a>
    <a href="/phones">Phones</a>
</footer>
</body>
</html>